.category-name {
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
}
.category-image {
    height: 200px;
    width: 100%;
    background-size: cover;
    filter: grayscale(100%);

    color: white;
}

.category-content {
    font-size: 18px;
    padding: 15px;
}
.category-description {
    text-align: center;
}

.category-products {
    margin-top: 25px;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.category-product {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20);
    border: 1px solid black;
    transition: 0.3s;
    width: 50%;
    height: 200px;
    background: white;
    margin: 25px auto auto auto;
}

.product-image {
    float: left;
    height: 100%;
    width: 40%;
    background-size: cover;
}

.product-info {
    float: right;
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-name {
    margin-top: 15px;
}

.product-price {
    margin-top: 5px;
}

.product-rating {
    margin-top: 5px;
}
