body {
    margin: 0;
    background-color: #FFFFFF;
}

.container {
    /*display: grid;*/

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "Header Header Header Header Header Header Header Header Header Header Header Header"
    "Main Main Main Main Main Main Main Main Main Main Main Main"
    "Main Main Main Main Main Main Main Main Main Main Main Main"
    "Main Main Main Main Main Main Main Main Main Main Main Main"
    "Main Main Main Main Main Main Main Main Main Main Main Main"
    "Main Main Main Main Main Main Main Main Main Main Main Main"
    "Main Main Main Main Main Main Main Main Main Main Main Main";
}
.Header {
    grid-area: Header;

    position: sticky; top: 0;
    z-index: 99;

    font-size: 40px;
}
.Main {
    grid-area: Main;
}
