/* Add a black background color to the top navigation */
.topnav {
    background-color: #000009;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 17px;
}

/* linkjes in de navigatie */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav form {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    margin-bottom: 0;
}
/* kleur van de rest van de balk */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/*  */
.topnav a.active {
    background-color: white;
    color: black;
}
