.product-details-container {
    padding: 30px;
    margin: 15px;
}

.product-details-left {
    float: left;
    width: 50%;
    height: 300px;
}

.product-details-right {
    float: right;
    width: 50%;
    height: 300px;
    text-align: center;

    position: relative;
}

.product-details-image {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.button {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

}

.button-product-details {
    margin-top: 30px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);

}

.reviews {
    margin-top: 30px;
}

.reviews-left {
    width: 50%;
    min-height: 300px;
    float: left;
}

.reviews-right {
    width: 50%;
    float: right;
}


.reviews .score {
    font-size: 24px;
}

.review {
    margin-top: 30px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    max-width: 300px;
}

.review table {
    margin: auto;
}

.green {
    color: green;
}
