
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

* {
    box-sizing: border-box;
    magin:0;
    padding: 0;
    background-color: white;
}

li, a, button {
    font-family: Magneto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: darkgreen;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.MenuBar{
   list-style: none;
}

.MenuBar li {
    display: inline-block;
    padding: 0px 20px;
}

.MenuBar li a {
    transition: all 0.3s ease 0s;
}

.MenuBar li a:hover{
    color: crimson;
}

button {
    padding: 9px 25px;
    background-color: cyan;
    border:none;
    border-radius: 50px;
    cursor:pointer ;
    transition:  all 0.3s ease 0s;
}

button:hover {
    background-color: cyan;
}